@import url('https://fonts.googleapis.com/css?family=Varela+Round');

* {
	box-sizing: border-box;
	font-family: 'Varela Round', sans-serif;
}

body {
/*	background-image: url(background.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;*/
	background-size: cover;
	background: #3C3B3D;
}

a {
	text-decoration: none;
	color: black;
	font-size: 24px;
}

button {
	width: 32.5%;
}

h2 {
	text-align: center;
}

#container {
	margin: 130px auto;
	border: 1px solid black;
	width: 50%;
	height: 400px;
/*	background-color: rgba(142,142,142,.8);*/
	background: white;
}

.days-data {
	display: inline-block;
	text-align: center;
	width: 20%;
}

.hours-data {
	display: inline-block;
	text-align: center;
	width: 16%;
}

.current-data {
	text-align: center;
}

.navbar {
	display: block;
}

.weatherData {
	display: block;
}
